- content_for :title do 'Teams' end

%section
    .page-header
        %h2 Teams
    .row
        .col-md-12
            - if user_signed_in?
                %a.pull-right.btn.btn-sm.btn-primary{:href => new_team_path, :style => 'margin-top: -75px;'} New Team
            - if @teams.nil? || @teams.count < 1
                %center
                    %p No teams to display.
            - else
                .table-container
                    %table.table.table-bordered.table-striped
                        %thead
                            %tr
                                %th Name
                                %th{:width => '17%'} Leader
                                %th{:width => '10%'} Members
                                %th{:width => '17%'} Created
                        %tbody
                            - @teams.each do |team|
                                %tr
                                    %td
                                        %a{:href => team_path(team)}
                                            = team.name
                                    %td
                                        %a{:href => user_path(team.leader), :style => 'color: ' + html_color(team.leader)}= team.leader
                                    %td
                                        = team.accepted_members.count
                                    %td{:rel => 'tooltip', :title => format_time(team.created_at), :data => {:placement => 'left', :container => 'body'}}
                                        = time_ago_in_words(team.created_at, false, :vague => true) + ' ago'
                = paginate @teams
