%section
    .page-header
        %h2 Forgot Your Password?
    .row
        .col-md-6
            = devise_error_messages!
            = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
                .form-group
                    = f.label :email
                    = f.email_field :email, class: "form-control"

                = f.submit "Send me reset password instructions", :class => "btn btn-primary"

        .col-md-4.col-md-offset-2
            = render :partial => "devise/shared/links"
