- content_for :title do "Tournaments - " + @tournament.name end
%section
    .page-header
        %h2
            Tournament Info

    = render partial: 'details'

    - unless @tournament.hide_teams
        - if @team_info[:registered] && (@tournament.can_register? || @tournament.team_accepted?(@team))
            .row
                .col-md-12
                    .page-header
                        %h2
                            Your Team
                            %small= @team.name
                .col-md-6
                    .table-container
                        %table.table.table-bordered.table-striped
                            %thead
                                %tr
                                    %th Name
                                    %th Status
                            %tbody
                                - @tournament.entrant_for(@team).members.each do |member|
                                    %tr{:class => member.confirmed? ? 'success' : 'info'}
                                        %td
                                            %a{:href => user_path(member.user), :style => 'color: ' + html_color(member.user)}
                                                = member.user.username
                                        %td
                                            = member.confirmed? ? 'Confirmed' : 'Pending'
                .col-md-6
                    - if @participation_pending && Tournament.can_participate?(current_user)
                        %p
                            %h4 Your team leader has registered your team for this tournament. Please read the following important information.
                        %p
                            Your team's registration will not be complete until all selected members have confirmed their     |
                            participation in the tournament. Once you confirm your participation, you are committed, and may  |
                            not reverse your decision. Once all selected members have confirmed their participation in the    |
                            tournament, your team will be submitted for approval. This submission is final, and your team     |
                            is expected to follow through. Please think carefully before confirming your participation.
                        %a.btn.btn-primary{:href => team_confirm_participation_path(@team, :tournament => @tournament.id), :data => {:method => 'post'}} Confirm Participation
                    - elsif @tournament.entrant_for(@team).user_confirmed?(current_user)
                        - if @team_info[:participation_confirmed]
                            .alert.alert-info
                                All of your team members have confirmed their participation. If accepted, your team will be responsible |
                                for participating. Failure to participate is in violation of the tournament rules and will result in    |
                                temporary or indefinite exclusion from future tournaments. If you require clarification, please send an |
                                email to #{ORG::EMAIL}.
                        - else
                            %p
                                Your team registration has not yet been submitted. Once all remaining selected team members have |
                                confirmed their participation, your registration will be submitted for acceptance. If accepted,  |
                                your team will be expected to participate. Failure to do so is in violation of the tournament    |
                                rules, and will result in the barring of your team from future tournaments.
        .row
            .col-md-12
                .page-header
                    - if current_user && @team && current_user == @team.leader
                        .pull-right
                            %br
                            - if @team_info[:registered]
                                - unless @team_info[:participation_confirmed] || Time.now > @tournament.end
                                    %a.btn.btn-sm.btn-warning{:href => team_unregister_path(@team, :tournament => @tournament.id), :data => {:method => 'post', :confirm => 'Are you sure you want to un-register? All participation pledges will be reset.'}} Un-register
                            - elsif @tournament.can_register? && Tournament.can_participate?(current_user)
                                %a.btn.btn-sm.btn-primary{:href => team_register_path(@team, :tournament => @tournament.id)} Register
                    %h2
                        Registered Teams
                        %small Max players per team: #{@tournament.max_players_per_team.round}
                - if @teams.nil? || @teams.count < 1
                    %center
                        %p No registrations to display.
                - else
                    .table-container
                        %table.table.table-bordered.table-striped
                            %thead
                                %tr
                                    %th #
                                    %th Team Name
                                    %th Leader
                                    %th Members
                                    %th Status
                                    %th Registered at
                                    - if @has_actions
                                        %th Actions
                            %tbody
                                - @teams.each_with_index do |team, i|
                                    - members = @tournament.entrant_for(team).confirmed_users.map(&:username)
                                    - participation = @tournament.entrant_for(team)
                                    %tr{:class => @tournament.team_confirmed?(team) ? (@tournament.team_accepted?(team) ? 'success' : 'info') : 'warning'}
                                        %td= i + 1
                                        %td
                                            %a{:href => team_path(team)}
                                                = team.name
                                        %td
                                            %a{:href => user_path(team.leader), :style => 'color: ' + html_color(team.leader)}= team.leader
                                        %td{:rel => 'tooltip', :title => members.to_sentence, :data => {:placement => 'left', :container => 'body'}}
                                            = members.count
                                        %td
                                            - if @tournament.team_accepted?(team)
                                                Accepted
                                            - elsif !@tournament.team_confirmed?(team)
                                                Waiting for players...
                                            - else
                                                Waiting for approval...
                                        %td{:rel => 'tooltip', :title => format_time(participation['registered_at']), :data => {:placement => 'left', :container => 'body'}}
                                            = time_ago_in_words(participation['registered_at'], false, :vague => true) + ' ago'
                                        - if @has_actions
                                            %td
                                                - if Tournament.can_manage?
                                                    %a.btn.btn-xs.btn-primary{:href => tournament_show_team_path(@tournament.url, team_id: team.id)} Manage
                                                    %a.btn.btn-xs.btn-danger{:href => team_unregister_path(team, :tournament => @tournament.id.to_s), :data => {:method => 'post', :confirm => 'Are you sure you want to un-register this team? All participation pledges will be reset.'}} Un-register
                                                - if @tournament.team_accepted?(team) && Tournament.can_decline?(current_user)
                                                    %a.btn.btn-xs.btn-warning{:href => tournament_decline_team_path(@tournament.url, :team_id => team.id.to_s), :data => {:method => 'post'}} Decline
                                                - elsif @tournament.team_confirmed?(team) && Tournament.can_accept?(current_user)
                                                    %a.btn.btn-xs.btn-success{:href => tournament_accept_team_path(@tournament.url, :team_id => team.id.to_s), :data => {:method => 'post'}} Accept
