- content_for :ftitle do @forum.title end

- content_for :main do
    .forum-header.clearfix
        %h3
            = @forum.title
            %small= @forum.category.name
        .pull-right{:style => "padding: 0 0 10px 10px;"}
            .btn-group.hidden-xs
                = render :partial => 'forem/forums/actions'
            .btn-group-vertical.visible-xs
                = render :partial => 'forem/forums/actions'
        %p
            %small
                = render_forum_description(@forum, emoji_size: 16)
    - pagination = paginate @topics unless @topics.nil?
    - @topics = Forem::TopicsHelper.filter_topics(current_user, @topics)
    - if !(@topics.nil? || @topics.count < 1)
        = pagination
        = render :partial => 'forem/topics/listing', :locals => {:topics => @topics, :show_forum => false, :unsubscribe_button => false, :simple_forum_style => @forum.simple_forum_style}
        = pagination
    - else
        %center
            %p No topics to display.

= render :file => 'forem/forums/index', :controller => 'forums'
